footer{
   background-color: grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 20px;
 
}