
.newsletter h3{
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}
.newsletter input{
    border: solid ;
    width: 300px;
    height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin: 25px;
}
.newsletter button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    margin:55px;
    
}